#b {
  color: blue;
}

#l {
  color: red;
}

#uli {
  color: blue;
}
#lii {
  color: red;
}
#ii {
  color: green;
}
/*  */

.gg {
  i {
    font-size: 30px;
  }
  ul {
    font-size: 20px;
  }
  li {
    color: red;
    font-weight: bold;
  }
}
