.hh {
  .success {
    color: green;
    font-size: 35px;
  }
  .error {
    color: red;
  }
  .large {
    color: red;
    font-size: 35px;
  }
  .small {
    color: aqua;
    font-size: 20px;
  }
}
.yy {
  #elem1 {
    color: rebeccapurple;
  }
  #elem2 {
    color: blue;
  }
  #elem2 {
    color: rgb(30, 213, 52);
  }
}

.hhg {
  #block {
    color: rebeccapurple;
  }
  .text {
    font-size: 20px;
    color: brown;
  }
}
.zzz {
  #elem1 h2 {
    color: rebeccapurple;
  }
  #elem2 .text {
    color: rebeccapurple;
  }
  #elem3 .text {
    color: rgb(244, 16, 16);
  }
}
.vf {
  .eee.zzz.ccc {
    color: red;
  }
}
