h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
  text-align: center;
}
#arial {
  font-family: Arial;
}
#comic {
  font-family: "Comic Sans MS";
}
#logo-text {
  font-size: 30px;
  line-height: 15px;
  text-align: justify;
  width: 400px;
}
#font1 {
  font: 13px 20px Times New Roman;
}
#font2 {
  font: 300px red 40px bold Arial;
}
#font3 {
  font: 40px bold 50px italic 60px Arial;
}
#abz {
  text-indent: 50px;
  text-align: justify;
  width: 400px;
}
#underline {
  text-decoration: underline;
}
#overline {
  text-decoration: overline;
  color: blueviolet;
}
#through {
  text-decoration: line-through;
  color: chartreuse;
}
#hg {
  text-decoration: none;
  color: crimson;
}
#fd {
  color: red;
}
i {
  font-family: Impact;
}
