/* a:link {
  color: rebeccapurple;
}
a:visited {
  color: green;
}
a:hover {
  text-decoration: none;
}
a:active {
  color: black;
} */
.fd {
  a {
    color: blue;
  }
  a:hover {
    color: red;
    text-decoration: none;
  }
}
.gf {
  li:first-child {
    color: red;
  }
}
