/* 51 */
.gg {
  i {
    font-size: 30px;
  }
  ul {
    font-size: 20px;
  }
  li {
    color: red;
    font-weight: bold;
  }
}
/* 51 */
.fg {
  h1 h2 h3 {
    text-align: center;
  }
}

.nft {
  h1 h2 h3 {
    text-align: center;
  }
  h2 {
    color: blue;
  }
  h3 {
    font-size: 16px;
    color: red;
  }
}

.nftt {
  h1 h2 h3 {
    text-align: center;
    color: red;
  }
  h3 {
    font-size: 16px;
  }
}
/* 52 */
.jj {
  ul li i {
    color: red;
  }
  p i {
    color: green;
  }
}
/* 54 */
.kk {
  ul > li b {
    color: rebeccapurple;
  }
  ul li b > i {
    color: black;
  }
}
/* 55 */
.odd .eee {
  color: red;
}
.eve {
  color: green;
}
.eee {
  color: red;
}
